doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='static/angular.js')
    script(src='static/angular-resource.js')
    script(src='javascripts/app/app.js')
  body
    block content
